include .markdownlint-cli2.yaml
include .github/release-notes/v5.0.1.md
include .github/workflows/release.yml
include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include README.md
include RELEASING.md
include SECURITY.md
include TESTING.md
include THIRD_PARTY_NOTICES.md
include requirements.txt
include requirements-dev.txt
include requirements-build.txt
recursive-include examples *.html *.json *.md *.png *.py
recursive-include scripts *.py
recursive-include tests *.py
